apiVersion: v1
kind: Service
metadata:
  name: vault-external
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: vault
    app.kubernetes.io/instance: vault
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  ports:
  - name: https
    port: 8200
    targetPort: 8200
    protocol: TCP
    appProtocol: HTTPS
  - name: https-internal
    port: 8201
    targetPort: 8201
    protocol: TCP
  selector:
    app.kubernetes.io/name: vault
    component: server